In [3]:
import pandas as pd

In [5]:
outgoing_df = pd.read_csv("../Data/Köln/importantStructureOutgoing.csv")

In [27]:
outgoing_df.groupby("base").count()

                                  link  type
base
50 Cent                             29    29
Aaron Lebedeff                      29    29
Act Up                              28    28
Al Harewood                         30    30
Alexander Jackson Davis             26    26
...                                ...   ...
Werner Janssen (Komponist)          29    29
Westminster Kennel Club Dog Show    28    28
William Beach Lawrence              29    29
William Safire                      30    30
Young Concert Artists               30    30

[100 rows x 2 columns]

In [4]:
views_df = pd.read_csv("../Data/Köln/views.csv")
len(views_df)

189188

Fill all empty dates in view_df with 0

In [72]:
all_dates = views_df[views_df["link"] == "50 Cent"]["date"]
# for link in views_df["link"]:
#   merged = 
filled_views_df = list(map(lambda link: pd.merge(views_df[views_df["link"] == link], all_dates, how="right", on="date").fillna({"link": link, "views": 0}), list(views_df["link"])))

KeyboardInterrupt:

In [15]:
all_dates = views_df[views_df["link"] == "50 Cent"]["date"]
filled_list = []
for link in views_df["link"].unique():
  filled_list.append(views_df[views_df["link"] == link].merge(all_dates,how="right", on="date").fillna({"link": link, "views": 0}))

filled_df = pd.concat(filled_list, ignore_index=True)

filled_df.to_csv("../Data/Köln/filled_views.csv", index=False)

NameError: name 'false' is not defined

In [23]:
filled_df

                                 link        date  views
0       FIFA-Weltfußballer des Jahres  2023070100  270.0
1       FIFA-Weltfußballer des Jahres  2023070200  871.0
2       FIFA-Weltfußballer des Jahres  2023070300  232.0
3       FIFA-Weltfußballer des Jahres  2023070400  215.0
4       FIFA-Weltfußballer des Jahres  2023070500  198.0
...                               ...         ...    ...
203572              COVID-19-Pandemie  2023092700  913.0
203573              COVID-19-Pandemie  2023092800  876.0
203574              COVID-19-Pandemie  2023092900  811.0
203575              COVID-19-Pandemie  2023093000  715.0
203576              COVID-19-Pandemie  2023100100  800.0

[203577 rows x 3 columns]

In [24]:
links = pd.read_csv("../Data/Köln/importantStructureOutgoing.csv")

In [ ]:
#Takes as input: cleaned up views_df and the outgoing link structure
#Output: ML Trainings tuple with calls from 30 pages and from another page
def transformToMLInput(clean_views_df, link_structure):